* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar {
  float: right;
  width: 20%;
  display: inline-block;
}

#image-box-animated {
/*  display: none;*/
}
