<h1><%= @user.user_name %>'s Page </h1>
content

<% if authorized?(@user) %>
<h2> User controls <h2>
<a href="/users/<%=@user.id%>/edit">Edit Account </a>
<br>
<form name="delete_account" action="/users/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Account">
</form>
<% end %>

