gif search
<form name="gif_search" id="gif_search" action="/gif_search" method="get">
  <input type=text" name="search_term" id="search_box" placeholder="search term">
  <input type="submit" value="Search!">
</form>
