  <% if logged_in? %>
    <form name="logout" action="/logout" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="logout">
    </form>
    <ul>
      <li><a href="/users/<%=@user.id%>">My Page </a></li>
    </ul>
  <% else %>
    <form name="login" action="/login" method = "post">
      <br>
      <input type="text" name="user_name" placeholder="username">
      <br>
      <input type="text" name="password" placeholder="password">
      <br>
      <input type="submit" value ="login">
    </form>
    <%= @errors %>
    <ul>
      <li><a href="users/new">Create Account </a></li>
    </ul>
  <% end %>
  <ul>
    <li><a href="/users"> All Users </a></li>
  </ul>
