<h1>Results for <%= @search_term %></h1>

<% @images.each.with_index do |image, image_index| %>
  <h3> <%=image_index %> </h3>
  <p><a href="<%=image[:url]%>"> Post URL </a></p>
  <img src="<%=image[:display_still]["url"]%>">
  <br>
<% end %>
