<h1>Results for <%= @search_term %></h1>
<div class="results">

<% @images.each.with_index do |image, image_index| %>
  <%= erb :"_single_result", layout: false, locals: {image: image, image_index: image_index} %>

<% end %>
</div>
